<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MNS Calendar</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/pl.js'></script>
    <link href='dist/mns_calendar.css' rel='stylesheet'>
    <script src='dist/mns_calendar.js'></script>
    <script src='https://rawgit.com/aFarkas/html5shiv/master/src/html5shiv.js'></script>
    <script src='https://buttons.github.io/buttons.js'></script>
    <script src='https://code.angularjs.org/1.5.5/angular.min.js'></script>
    <script src='dist/mns-calendar.angular.js'></script>
  </head>
  <body>
    <div class='container-fluid' style='margin-top:50px'>
      <div class='col-md-4'>
        <div class='well'>
          <h2>
            <i class='fa fa-calendar'></i>
            MNS Calendar
            <div class='pull-right'>
              <a class="github-button" href="https://github.com/MNSLab/mns-calendar" data-icon="octicon-star" data-style="mega" data-count-href="/MNSLab/mns-calendar/stargazers" data-count-api="/repos/MNSLab/mns-calendar#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star MNSLab/mns-calendar on GitHub">Star</a>
            </div>
          </h2>
          <h4>Requirements</h4>
          <div class='row'>
            <div class='col-sm-6'>
              <h5>Browser</h5>
              <ul class='list'>
                <li>
                  <a href='http://jquery.com'>jQuery</a>
                </li>
                <li>
                  <a href='http://getbootstrap.com'>Bootstrap</a>
                </li>
                <li>
                  <a href='http://fortawesome.github.io/Font-Awesome/'>font-awesome</a>
                </li>
                <li>
                  <a href='http://momentjs.com/'>momentjs</a>
                </li>
              </ul>
            </div>
            <div class='col-sm-6'>
              <h5>Development</h5>
              <ul class='list'>
                <li>
                  <a href='http://haml.info/'>Haml</a>
                </li>
                <li>
                  <a href='http://coffeescript.org'>coffeescript</a>
                </li>
                <li>
                  <a href='http://compass-style.org/'>SASS</a>
                </li>
                <li>
                  <A href='http://bower.io/'>Bower</A>
                </li>
                <li>
                  <a href='https://github.com/fairfieldt/coffeescript-concat'>coffeescript-concat</a>
                </li>
              </ul>
            </div>
          </div>
          <hr>
          <h3>Usage</h3>
          <pre>$('#calendar').mnsCalendar({
            title: 'My Calendar',
            events: [
              {
                id: '123',
                name: 'Initial event',
                start: '01-01-2016',
                end: '01-01-2016',
                class: 'text-success',
                icon: 'birthday-cake',
                background_class: 'text-warning',
                color_class: 'text-success',
                weekdays_abbreviations: true
              }
            ]
          })</pre>
        </div>
      </div>
      <script>
        moment.locale('pl')
      </script>
      <div class='col-md-8'>
        <h3>AngularJS Example</h3>
        <div ng-app='test-app' ng-controller='mainCtrl'>
          <input ng-model='name'>
          <input ng-model='start'>
          <input ng-model='end'>
          <button ng-click='addEvent()'>Dodaj</button>
          <hr>
          <mns-calendar events='events'></mns-calendar>
        </div>
        <script>
          (function() {
            var app;
          
            app = angular.module('test-app', ['mnsCalendar']).controller('mainCtrl', function($scope) {
              $scope.events = [];
              $scope.name = 'Event';
              $scope.start = '2016-05-12';
              $scope.end = '2016-05-20';
              $scope.addEvent = function() {
                return $scope.events.push({
                  name: $scope.name,
                  start: $scope.start,
                  end: $scope.end
                });
              };
              return void 0;
            });
          
          }).call(this);
        </script>
        <h3>jQuery Example</h3>
        <div id='calendar'></div>
        <script>
          (function() {
            $(function() {
              return $('#calendar').MnsCalendar({
                title: 'MNS Calendar',
                events: [
                  {
                    type: 'array',
                    calendar: 'type:todo',
                    data: [
                      {
                        "name": "TODO",
                        "start": "2016-05-19",
                        "day_long": true,
                        "icon": "warning",
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non sagittis dolor. Nunc id dapibus enim. Nam ac ultrices justo, nec bibendum nunc. Phasellus mollis viverra mattis.",
                        "backgroundColor": "green",
                        "textColor": "white"
                      }, {
                        name: 'Event :)',
                        start: '2016-05-20',
                        backgroundColor: 'gold',
                        textColor: 'brown'
                      }
                    ]
                  }, {
                    type: 'json',
                    url: 'events.json'
                  }, {
                    type: 'function',
                    "function": function(start, end, calendar) {
                      return [
                        {
                          name: '' + Math.random(),
                          start: '2016-05-' + Math.round(30 * Math.random() + 1),
                          backgroundColor: 'gold',
                          textColor: 'brown'
                        }
                      ];
                    }
                  }
                ],
                calendars: [
                  {
                    name: 'All',
                    id: 'all'
                  }, '---', {
                    title: 'by status',
                    items: [
                      {
                        name: 'todo',
                        id: 'type:todo'
                      }, {
                        name: 'fixnow',
                        id: 'type:fix-now'
                      }, {
                        name: 'request',
                        id: 'type:request'
                      }
                    ]
                  }, '---', {
                    title: 'by user',
                    items: [
                      {
                        name: 'pkubiak',
                        id: 'user:pkubiak'
                      }
                    ]
                  }
                ],
                'weekdays_abbreviations': true
              });
            });
          
          }).call(this);
        </script>
      </div>
    </div>
  </body>
</html>
