!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %title MNS Calendar

    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css' }
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'}
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js' }
    %script{ src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js' }
    %link{ rel: 'stylesheet', href: 'dist/mns_calendar.css' }
    %script{ src: 'dist/mns_calendar.js' }
    %script{ src: 'https://rawgit.com/aFarkas/html5shiv/master/src/html5shiv.js' }
    %script{ src: 'https://buttons.github.io/buttons.js' }
    %script{ src: 'https://code.angularjs.org/1.5.5/angular.min.js' }
    %script{ src: 'dist/mns-calendar.angular.js' }
  %body
    %div.container-fluid{style: 'margin-top:50px'}
      %div.col-md-4
        %div.well
          %h2
            %i.fa.fa-calendar
            MNS Calendar
            %div.pull-right
              <a class="github-button" href="https://github.com/MNSLab/mns-calendar" data-icon="octicon-star" data-style="mega" data-count-href="/MNSLab/mns-calendar/stargazers" data-count-api="/repos/MNSLab/mns-calendar#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star MNSLab/mns-calendar on GitHub">Star</a>
          %h4 Requirements
          %div.row
            %div.col-sm-6
              %h5 Browser
              %ul.list
                %li
                  %a{href: 'http://jquery.com'} jQuery
                %li
                  %a{href: 'http://getbootstrap.com'} Bootstrap
                %li
                  %a{href: 'http://fortawesome.github.io/Font-Awesome/'} font-awesome
                %li
                  %a{href: 'http://momentjs.com/'} momentjs
            %div.col-sm-6
              %h5 Development
              %ul.list
                %li
                  %a{href: 'http://haml.info/'} Haml
                %li
                  %a{href: 'http://coffeescript.org'} coffeescript
                %li
                  %a{href: 'http://compass-style.org/'} SASS
                %li
                  %A{href: 'http://bower.io/'} Bower
                %li
                  %a{href: 'https://github.com/fairfieldt/coffeescript-concat'} coffeescript-concat
          %hr
          %h3 Usage
          %pre
            :plain
              $('#calendar').mnsCalendar({
                title: 'My Calendar',
                events: [
                  {
                    id: '123',
                    name: 'Initial event',
                    start: '01-01-2016',
                    end: '01-01-2016',
                    class: 'text-success',
                    icon: 'birthday-cake',
                    background_class: 'text-warning',
                    color_class: 'text-success'
                  }
                ]
              })

      %div.col-md-8
        %h3 AngularJS Example

        %div{'ng-app': 'test-app', 'ng-controller': 'mainCtrl'}
          %input{'ng-model': 'name'}
          %input{'ng-model': 'start'}
          %input{'ng-model': 'end'}
          %button{'ng-click': 'addEvent()'} Dodaj

          %hr

          %mns-calendar{events: 'events'}

        :coffee
          app = angular.module 'test-app', ['mnsCalendar']
          .controller 'mainCtrl', ($scope) ->
            $scope.events = []
            $scope.name = 'Event'
            $scope.start = '2016-05-12'
            $scope.end = '2016-05-20'

            $scope.addEvent = () ->
              $scope.events.push {name: $scope.name, start: $scope.start, end: $scope.end}
            undefined
        %h3 jQuery Example
        %div#calendar

        :coffee
          $ ->
            $('#calendar').MnsCalendar(
              title: 'MNS Calendar',
              events: [{
                type: 'array'
                calendar: 'type:todo'
                data: [{
                  "name": "TODO",
                  "start": "2016-05-19",
                  "day_long": true,
                  "icon": "warning",
                  "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non sagittis dolor. Nunc id dapibus enim. Nam ac ultrices justo, nec bibendum nunc. Phasellus mollis viverra mattis.",
                  "backgroundColor": "green",
                  "textColor": "white"
                },{
                  name: 'Event :)',
                  start: '2016-05-20',
                  backgroundColor: 'gold',
                  textColor: 'brown'
                }]
              },
              {
                type: 'json'
                url: 'events.json'
                },
              {
                type: 'function'
                function: (start, end, calendar) ->
                  [{
                    name: ''+Math.random(),
                    start: '2016-05-'+Math.round(30*Math.random()+1),
                    backgroundColor: 'gold',
                    textColor: 'brown'
                  }]
              }
              ],

              calendars: [
                { name: 'All', id: 'all' },
                '---',
                {
                  title: 'by status',
                  items: [
                    { name: 'todo', id: 'type:todo' },
                    { name: 'fixnow', id: 'type:fix-now' },
                    { name: 'request', id: 'type:request' },
                  ]
                }
                '---',
                {
                  title: 'by user',
                  items: [
                    { name: 'pkubiak', id: 'user:pkubiak' },
                  ]
                }
              ]

              callback: (label, event) ->
                $(label).popover
                  container: 'body'
                  title: '<span class="fa fa-'+event.icon+'" style="margin-right:6px"></span> '+event.name
                  placement: 'bottom'
                  html: true
                  content: '<small><b>Od: '+event.start.format('LLL') + '<br/>Do: '+event.end.format('LLL')+'</b></small><p class="text-justify">'+event.data.text+'</p>'
                  trigger: 'focus'
            );
