@import "compass/css3/transform";

@keyframes mns-spin{
	0%{
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100%{
		transform: translate(-50%, -50%) rotate(359deg);
	}
}
.mns-cal {
	& > .navbar {
		border-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin-bottom: 0;
	}
	& > .panel {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	& table label {
		display: block;
		text-align: left;
	}

	.mns-cal-week {
		position: relative;
	}

	.mns-cal-body {
		position: relative;

		/* show white background */
		&.data-loading::before {
			background: white;
			content: "";
			position:absolute;
			display:block;
			left:0;right:0;
			top:0;bottom:0;
			opacity: 0.7;
			z-index:500;
		}

		/* show spinner */
		&.data-loading::after {
			font: normal normal normal 14px/1 FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			display: block;
			content: "\f021";
			color:black;
			width: 100px;
			height: 100px;
			line-height:100px;
			text-align:center;
			color:#444;
			position: absolute;
			left: 50%;top:50%;
			z-index:501;
			font-size:60px;

			//@include translate(-50%, -50%);
			animation: mns-spin 0.5s infinite linear;
		}

		table {
			width: 100%;
			table-layout: fixed;
			margin: 0;
			td {
				border-top-width:0;
				border-bottom-width:0;
				padding:0px;
				height:1em;

				&:first-child {
					border-left-width: 0;
				}
				&:last-child {
					border-right-width: 0;
				}
			}
		}
	}

	.mns-cal-bg {
		position: absolute;
		z-index:0;
		height: 100%;
		width: 100%;
		table {
			height: 100%;
		}
	}
	.mns-cal-bg-today {
		opacity: 0.3;
	}

	td:not(.mns-cal-starts-here) .label {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	td:not(.mns-cal-ends-here) .label {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	td.mns-cal-starts-here .label { margin-left: 6px; }
	td.mns-cal-ends-here .label { margin-right: 6px; }

	.mns-cal-rows{
		position: relative;
		z-index: 1;
		th {
			text-align: right;
			font-weight: normal;
			padding: 2px;
			padding-right:4px;
		}
		.label {
			display:block;
			text-align:left;
			margin:1px 0px;
			text-overflow: ellipsis;
			overflow:hidden;
			text-decoration: none;

			&:hover {
				opacity: 0.8;
			}


		}
	}
}
